HOST=127.0.0.1
PORT=3000

DB_NAME=wtw
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root

SALT=LPpG4XAuJdZReDn
JWT_SECRET=cGxheXNlcnZlcHJpbnRlZGVhcmx5d2hvbGV0b3VjaGFub3RoZXJyZXNlYXJjaGxvb3M=

UPLOAD_DIRECTORY=./upload
STATIC_DIRECTORY=./static
